{{#if isLogged}}
    <a href='/logout' class='btn btn-primary'>Log Out</a>
    <a href='/agregar.html' class='btn btn-secondary'>Agregar Producto</a>
{{else}}
    <a href='/login' class='btn btn-primary'>Log In</a>
{{/if}}